<!-- body -->
<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">关于作者</h4>
    </div>
    <div class="panel-body">
      <p class="lead">有问题请联系 lxz612@126.com</p>
    </div>
  </div>

  <!-- footer -->
  <div class="footer">
      <p>© Company 2016</p>
  </div>
</div>