<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<style type="text/css">
		.booklist dt{
			float: left;
			width: 10%;
			/*text-align: right;*/
		}
		.booklist dd{
			width: 90%;
			float: right;
		}
	</style>
</head>
<body>
  <!-- 公共头部 -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/search">图书流通管理系统</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="{{sch}}"><a href="/search">书目检索</a></li>
					<li class="{{lib}}"><a href="/mylib/borrow">我的图书馆</a></li>
					<li class="{{abt}}"><a href="/about">关于</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="">14032119</a></li>
					<li class="{{log}}"><a href="/login">登录</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4 class="panel-title">书目信息</h4>
		  </div>
		  <div class="panel-body">
		  	<div class="row" style="margin:10px;">
					<dl class="booklist clearfix">
						<dt>题名:</dt>
						<dd><a href="">围城</a></dd>
					</dl>
					<dl class="booklist clearfix">
						<dt>作者/责任者:</dt>
						<dd>钱钟书著</dd>
					</dl>
					<dl class="booklist clearfix">
						<dt>版本说明:</dt>
						<dd>第3版</dd>
					</dl>
					<dl class="booklist clearfix">
					<dt>出版发行项:</dt>
					<dd>北京:人民邮电出版社,2010</dd>
					</dl>
					<dl class="booklist clearfix">
						<dt>ISBN及定价:</dt>
						<dd>978-7-115-22626-6/CNY88.00</dd>
					</dl>
					<dl class="booklist clearfix">
						<dt valign="top">内容简介: </dt>
						<dd style="padding-bottom: 8px;">本书是最具知名度的Linux入门书《鸟哥的Linux私房菜基础学习篇》
						的最新版，全面而详细地介绍了Linux操作系统。全书分为5个部分：第一
						部分着重说明Linux的起源及功能，如何规划和安装Linux主机；第二部分
						介绍Linux的文件系统、文件、目录与磁盘的管理；第三部分介绍文字模式
						接口shell和管理系统的好帮手shell脚本，另外还介绍了文字编辑器vi和
						vim的使用方法；第...
					</dl>
					<dl class="booklist clearfix">
						<dt>目录: </dt>
						<dd>
						一、 印度洋上<br />
						二、 博士回乡<br />
						三、 苏小姐和唐小姐(一)<br />
						四、 哲学家和诗人<br />
						五、 苏小姐和唐小姐(二)<br />
						六、 不食周粟<br />
						七、 艰苦的旅行<br />
						八、 教授生涯(一)<br />
						九、 教授生涯(二)<br />
						十、 做媒的故事<br />
						十一、 重返上海<br />
						十二、 古老的钟...</dd>
					</dl>
		  	</div>
		  	<div class="row" style="margin:10px;">
		  		<div class="bs-example bs-example-tabs">
				    <ul class="nav nav-tabs" role="tablist">
				      <li role="presentation" class="active">
				      	<a href="#home" id="home-tab" role="tab" data-toggle="tab">馆藏信息</a>
				      </li>
				      <li role="presentation">
				      	<a href="#profile" role="tab" data-toggle="tab">预约申请</a>
				      </li>
				    </ul>
				    <div class="tab-content">
				      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
	          		<table class="table">
	          			<thead>
	          				<tr>
	          					<th>索书号</th>
	          					<th>条码号</th>
	          					<th>馆藏地</th>
	          					<th>书刊状态</th>
	          				</tr>
	          			</thead>
	          			<tbody>
	          				<tr>
	        	          <td>I246.5/885/4</td>
	        	          <td>72010468</td>
	        	          <td>文艺、传记书库（9F）</td>
	        	          <td>借出-应还日期：2016-10-21</td>
	        	        </tr>
	        	        <tr>
	        	          <td>I246.5/885/4</td>
	        	          <td>72010468</td>
	        	          <td>文艺、传记书库（9F）</td>
	        	          <td>借出-应还日期：2016-10-21</td>
	        	        </tr>
	        	        <tr>
	        	          <td>I246.5/885/4</td>
	        	          <td>72010468</td>
	        	          <td>文艺、传记书库（9F）</td>
	        	          <td>借出-应还日期：2016-10-21</td>
	        	        </tr>
	          			</tbody>
	          		</table>
				      </div>
				      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
				        <table class="table">
	          			<thead>
	          				<tr>
	          					<th>索书号</th>
	          					<th>馆藏地</th>
	          					<th>是否可预约</th>
	          					<th>执行预约</th>
	          				</tr>
	          			</thead>
	          			<tbody>
	          				<tr>
	        	          <td>I246.5/885/4</td>
	        	          <td>文艺、传记书库（9F）</td>
	        	          <td>预约申请保留天数(最多45天)</td>
	        	          <td>
	        	          	<button type="button" class="btn btn-default">预约</button>
	        	          </td>
	        	        </tr>
	          			</tbody>
	          		</table>
				      </div>
				    </div>
				  </div>
		  	</div>
		  </div>
		</div>

		<!-- footer -->
		<div class="footer">
		    <p>© Company 2016</p>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<!-- <script src="http://v3.bootcss.com/assets/js/docs.min.js"></script> -->
</body>
</html>