<!-- 遗失登记页 -->
<div class="container">
	<div class="row">
		<div class="col-lg-2">
      {{>list-group}}
		</div>
		<div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">书刊遗失</h4>
        </div>
        <div class="panel-body">
          <p>书刊遗失...</p>
        </div>
      </div>
		</div>
	</div>
  <!-- footer -->
  <div class="footer">
      <p>© Company 2016</p>
  </div>
</div>