<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">借阅结果</h4>
    </div>
    <div class="panel-body">
    	<h1>借阅成功</h1>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
      <p>© Company 2016</p>
  </div>
</div>