<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">借阅结果</h4>
    </div>
    <div class="panel-body">
    	<h1>借阅成功</h1>
      <p><a href="/mylib/myborrow">跳转到我的借阅</a></p>
    </div>
  </div>
  {{>footer}}
</div>