<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">取消预约</h4>
    </div>
    <div class="panel-body">
    	<h3>取消预约成功...</h3>
      <p><a href="/mylib/myorder">返回</a></p>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
      <p>© Company 2016</p>
  </div>
</div>