<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">预约结果</h4>
    </div>
    <div class="panel-body">
    	<h1>预约成功...</h1>
      <p><a href="/mylib/myorder">跳转到我的预约</a></p>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
      <p>© Company 2016</p>
  </div>
</div>