<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">续借结果</h4>
    </div>
    <div class="panel-body">
    	<h1>续借成功...</h1>
      <p><a href="/mylib/myborrow">返回</a></p>
    </div>
  </div>
  {{>footer}}
</div>