<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
  <!-- 公共头部 -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/search">图书流通管理系统</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				{{#each arr}}
				<ul class="nav navbar-nav">
					<li class="{{sch}}"><a href="/search">书目检索</a></li>
					<li class="{{lib}}"><a href="/mylib/borrow">我的图书馆</a></li>
					<li class="{{abt}}"><a href="/about">关于</a></li>
				</ul>
				{{/each}}
				<ul class="nav navbar-nav navbar-right">
					{{#if user}}
					<li><a href="">14032119</a></li>
					{{else}}
					<li class="{{log}}"><a href="/login">登录</a></li>
					{{/if}}
					<!-- <li><a href="">后台</a></li> -->
				</ul>
				
			</div>
		</div>
	</nav>

  <!-- body -->
  <div class='container'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">借阅结果</h4>
      </div>
      <div class="panel-body">
      	<h1>借阅成功</h1>
      </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <p>© Company 2016</p>
    </div>
  </div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<!-- <script src="http://v3.bootcss.com/assets/js/docs.min.js"></script> -->
</body>
</html>